<div class="movies-page">
  <div class="container">
    <div class="page-header">
      <h1 class="display-5 fw-bold">Edit movie</h1>
      <p class="subtitle">Edit movie infomation</p>
    </div>

    <%= render 'form', movie: @movie %>
  </div>
</div>
