name: CD to AWS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to AWS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            echo "Start to Deploy..."
            
            cd movie-rating-system
            
            # update code forcely
            git fetch --all
            git reset --hard origin/main
            
            # install bundle
            bundle install
            
            # run in the development environment
            pkill -f 'rails server' || true
            nohup bundle exec rails server -b 0.0.0.0 -p 3000 > log/development.log 2>&1 &
            
            echo "Deploy Successfully!"
            echo "Here: http://${{ secrets.AWS_HOST }}:3000"